.numerical_statistics {
  box-sizing: border-box;
  width: 100%;
  padding: 28px 20px 0;
  display: flex;
  align-items: center;
}
.numerical_statistics .numerical_statistics_left {
  width: 283px;
  height: 83px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  display: flex;
}
.numerical_statistics .numerical_statistics_left .title_box {
  width: 113px;
  height: 100%;
  flex-shrink: 0;
}
.numerical_statistics .numerical_statistics_left .list_box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.numerical_statistics .numerical_statistics_left .list_box .list_item {
  height: 40px;
  display: flex;
}
.numerical_statistics .numerical_statistics_left .list_box .list_item .list_title {
  flex-shrink: 0;
  font-size: 20px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 40px;
}
.numerical_statistics .numerical_statistics_left .list_box .list_item .list_cont {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.numerical_statistics .numerical_statistics_left .list_box .list_item .list_cont .list_cont_text {
  min-width: 62px;
  height: 34px;
  font-size: 28px;
  line-height: 34px;
  color: #15c559;
  /* Use a radial-gradient to create a background color that radiates from the center to the edges */
  background: radial-gradient(circle, rgba(54, 216, 105, 0.2), rgba(54, 216, 105, 0));
}
.numerical_statistics .numerical_statistics_left .list_box .list_item .list_cont .list_count_text_red {
  color: #ff3851;
  background: radial-gradient(circle, rgba(216, 54, 54, 0.35), rgba(216, 54, 54, 0));
}
.numerical_statistics .numerical_statistics_right {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.numerical_statistics .numerical_statistics_right .alarm_fault {
  width: 84px;
  height: 96px;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-image: radial-gradient(circle, rgba(56, 130, 255, 0), rgba(56, 130, 255, 0), #3882ff) 8 8;
}
