@keyframes changeright {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes random-direction {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(6px);
  }
}
.home {
  font-family: PingFangSC-Regular, PingFang SC;
  position: relative;
  background: url("images/bg.png") no-repeat center center / 100%;
}
.home .echarts_box {
  flex-grow: 1;
  display: flex;
}
.home .map {
  position: absolute;
  left: 0;
  top: 77px;
  width: 824px;
  height: 694px;
  background: url("images/map.png") no-repeat center center / 100% 100%;
}
.home .map .level_bar {
  position: absolute;
  animation-name: random-direction;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: flex;
}
.home .map .round {
  position: absolute;
  left: 187px;
  top: 96px;
  width: 535px;
  height: 535px;
  background: url("images/round.png") no-repeat center center / 100%;
  animation: changeright 6s linear infinite;
}
.home .map .title_box {
  position: absolute;
  left: 286px;
  top: 262px;
  z-index: 10;
  width: 344px;
  height: 344px;
  background: url(images/platform_bg.svg) no-repeat center center / 100%;
}
.home .map .title_box > div {
  height: 50%;
}
.home .map .title_box .title_bottom {
  margin-top: -20px;
}
.home .host_of_the_day {
  width: 788px;
  height: 309px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.home .host_of_the_day .heading_level {
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  font-weight: 400;
  flex-shrink: 0;
  margin-left: 50px;
}
.home .container_content {
  width: 516px;
  margin-left: 2px;
  flex-grow: 1;
  background: url("images/server_bg.svg") no-repeat right top;
  display: flex;
  flex-direction: column;
}
.home .container_content .application_system_top {
  height: 192px;
  display: flex;
  flex-direction: column;
}
.home .container_content .application_system_bottom {
  flex-grow: 1;
  display: flex;
}
.home .container_content .application_system_bottom .add_a_work_order {
  width: 171px;
  margin-left: 14px;
  flex-shrink: 0;
  background: url("images/add_a_work_order.png") no-repeat center top / 100%;
}
.home .container_content .application_system_bottom .work_order_trends {
  flex-grow: 1;
  display: flex;
}
.home .network_content {
  height: 372px;
  background: url("images/network_bg.svg") no-repeat right top;
  display: flex;
  flex-direction: column;
}
.home .network_content .network_top {
  display: flex;
  height: 191px;
  justify-content: space-around;
  flex-shrink: 0;
}
.home .network_content .network_top .network_top_left,
.home .network_content .network_top .network_top_right {
  width: 144px;
  height: 100%;
  display: flex;
}
.home .network_content .network_bottom {
  flex-grow: 1;
  display: flex;
}
.home .safety_content {
  width: 100%;
  background-image: none;
  margin-left: 0;
  display: flex;
  flex-direction: initial;
}
.home .safety_content .safety_left {
  width: 423px;
  height: 165px;
  background: url("images/safety.png") no-repeat center center / 100%;
  display: flex;
}
.home .safety_content .safety_right {
  flex-grow: 1;
  display: flex;
}
